services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "5002:3000"
    networks:
      - app-network
    depends_on:
      - backend
  backend:
    build: ./Backend
    image: backend-image
    ports:
      - "5001:5000"
networks:
  app-network:
    driver: bridge
